.c-cell__row {
  display: flex;
  flex-direction: row;
  align-items: normal;
  align-content: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  border-top: 1px solid #ddd;
  &.c-cell__row--min-width-490 {
    min-width: 490px;
  }
}

.c-cell__row:first-child {
  border-top: none;
}

.c-cell__text {
  flex: 1;
  padding: 5px 0px;
  &.c-cell__text--link {
    color: $c-linkBlue;
    transition: 0.3s;
    &:hover {
      opacity: 0.7;
    }
  }
}

.c-cell__amount {
  width: 60px;
  text-align: center;
  font-size: 11px;
  border-left: 1px solid #ddd;
  padding: 5px 0px;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  &.c-cell__amount--link-color {
    color: $c-linkBlue;
    transition: 0.3s;
    cursor: pointer;
    &:hover {
      opacity: 0.7;
    }
  }
}