<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>ITCS | {% block title %} {% endblock %}</title>
    <link href=https://10.10.10.102/static/app/css/chunk-3d197ff2.41a4938a.css rel=prefetch>
    <link href=https://10.10.10.102/static/app/css/chunk-59c0bb64.5c5a738e.css rel=prefetch>
    <link href=https://10.10.10.102/static/app/js/chunk-204be39e.1ce3ce26.js rel=prefetch>
    <link href=https://10.10.10.102/static/app/js/chunk-2d0b6766.3ce7bf9b.js rel=prefetch>
    <link href=https://10.10.10.102/static/app/js/chunk-2d0cb6c9.188a6585.js rel=prefetch>
    <link href=https://10.10.10.102/static/app/js/chunk-2d0d63f1.af5729db.js rel=prefetch>
    <link href=https://10.10.10.102/static/app/js/chunk-2d0daa98.018ed266.js rel=prefetch>
    <link href=https://10.10.10.102/static/app/js/chunk-2d0e492d.bcd9d863.js rel=prefetch>
    <link href=https://10.10.10.102/static/app/js/chunk-2d0f09f3.874ea8ef.js rel=prefetch>
    <link href=https://10.10.10.102/static/app/js/chunk-2d23822a.ddddaab4.js rel=prefetch>
    <link href=https://10.10.10.102/static/app/js/chunk-3d197ff2.4578bd50.js rel=prefetch>
    <link href=https://10.10.10.102/static/app/js/chunk-48a38849.dd585e3e.js rel=prefetch>
    <link href=https://10.10.10.102/static/app/js/chunk-56216666.25191741.js rel=prefetch>
    <link href=https://10.10.10.102/static/app/js/chunk-59c0bb64.35e22850.js rel=prefetch>
    <link href=https://10.10.10.102/static/app/css/app.0c30e742.css rel=preload as=style>
    <link href=https://10.10.10.102/static/app/js/app.7f96bd77.js rel=preload as=script>
    <link href=https://10.10.10.102/static/app/css/app.0c30e742.css rel=stylesheet>
</head>
<body>
    <noscript>
        <strong>
            We're sorry but material-free doesn't work properly without JavaScript enabled. Please enable it to
            continue.
        </strong>
    </noscript>
    <div id=app>
    </div>

    <script>
      var gUserRole = '{{user.groups.all.0.name}}',
        gUserName = '{{user.username}}',

        // TODO: remove after REST api get token
        gToken = {
          name: `{% csrf_token %}`.match(/name="(.*?)"/g)[0].match(/"(.*?)"/g)[0].replace(/"/g, ''),
          token: `{% csrf_token %}`.match(/value="(.*?)"/g)[0].match(/"(.*?)"/g)[0].replace(/"/g, '')
        },

        // TODO: remove after REST api get of organization name
        organizationName = '{{user.profile.organization_name}}';

    </script>

    <script src=https://10.10.10.102/static/app/js/app.7f96bd77.js></script>
</body>
</html>
