<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>ITCS | Certificate</title>


        <link href="../static/font-awesome/css/font-awesome.css" rel="stylesheet">
        <link href="../static/css/custom.css" rel="stylesheet">
    </head>
    <body>
        <div class="c-container-a6"
        style="background: url('../static/img/cert_background.jpg');background-size: cover;background-position: center;">

            <!--Head-->
            <div class="c-container-a6__head">
                <div class="c-container-a6__row c-container-a6__row--flex">
                    <div class="c-container-a6__row-block c-container-a6__row-block--30pc">
                        <img src="../static/img/twitter-png-transparent-4.png" alt="logo"
                             class="img img--logo">
                    </div>
                    <div class="c-container-a6__row-block">
                        <div class="title">
                            Україна
                        </div>
                        <div class="title">
                            ТОВ "навчальний центр фахівців морського транспорту"
                        </div>
                        <div class="text text--align-center">
                            65000, м.Одеса, вул. Канатна 42
                        </div>
                        <div class="text text--align-center">
                            Тел.: +38(000)000 - 00 - 00
                        </div>
                        <div class="text text--align-center">
                            Тел./Факс: +38(000)000 - 00 - 00
                        </div>
                        <div class="text text--align-center">
                            Email: info@papay.com.ua
                        </div>
                        <div class="text text--align-center">
                            WWW: http://sea.od.ua
                        </div>
                        <div class="title">
                            Свiдоцтво №<span>02404</span>
                        </div>
                    </div>
                </div>
                <div class="c-container-a6__row c-container-a6__row--margin-top-10">
                    <div class="text text--serif">
                        Видане на пiдставi положень Мiжнародної конвенцiї про пiдготовку, дипломування морякiв та
                        несення вахти 1978 року з поправками (з урахуванням Манiльських поправок), Конвенцiї SOLAS 74
                        з поправками.
                    </div>
                    <div class="text text--align-center text--serif">
                        Цим засвiдчується, що
                    </div>
                </div>
            </div>

            <!--Body-->
            <div class="c-container-a6__row c-container-a6__row--margin-top-70">
                <div class="text text--uppercase text--font-size-35 text--align-center text--serif">
                    иванов иван петрович
                </div>
                <div class="text text--margin-top-10">
                    <span class="text text--font-weight-700">
                        Дата народження:
                    </span>
                    <span>
                        22.01.1989
                    </span>
                </div>
                <div class="text text--margin-top-10 text--serif">
                    успiшно опанував схвалений
                    <span class="text text--font-weight-700">
                        Морською Адмiнiстрацiєю України
                    </span>
                    курс пiдготовки за програмою
                </div>
                <div class="title title--red">
                    Підготовка з судноводіння з використанням радіолокатора, радіолокаційної прокладки та використанням
                    ЗАРП, з роботи в колективі на містку, з пошуку та порятунку
                </div>
                <div class="text text--serif">
                    Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
                    Nunc efficitur elit sed mi tincidunt, ut mollis erat bibendum. Vivamus at velit ac libero efficitur
                    dictum non sit amet nulla. Morbi hendrerit nulla eu leo tincidunt, ac scelerisque dolor consectetur.
                    Aenean bibendum luctus mattis. Curabitur iaculis facilisis ex, vitae condimentum risus tempus a.
                    Etiam scelerisque diam eget velit luctus convallis. Proin nec odio sodales, congue mauris at,
                </div>
            </div>

            <!--Footer-->
            <div class="c-container-a6__footer">
                <div class="c-container-a6__row c-container-a6__row--flex">
                    <div class="c-container-a6__row-block c-container-a6__row-block--30pc">

                    </div>
                    <div class="c-container-a6__row-block">
                        <div class="text text--font-weight-700">
                            Директор центру
                        </div>
                        <div class="text text--margin-top-50 text--font-weight-700">
                            Керiвник курсу
                        </div>
                        <div class="text text--margin-top-50">
                            <span class="text text--font-weight-700">
                                Дата видачi<sup>*</sup>:
                            </span>
                            <span class="text text--margin-left-54">
                                22.12.22
                            </span>
                        </div>
                        <div class="text text--margin-top-10">
                            <span class="text text--font-weight-700">
                                Дiйсний до:
                            </span>
                            <span class="text text--margin-left-70">
                                22.12.22
                            </span>
                        </div>
                    </div>
                </div>
                <div class="c-container-a6__row">
                    <div class="text text--font-size-20 text--serif">
                        <sup>*</sup>) Дата видачi є датою реєстрацiї, а не датою закiнчення пiдготовки.
                    </div>
                    <div class="text text--font-size-20 text--serif">
                        Запити щодо цього свiдоцтва слiд надсилати до державного реєстру документiв морякiв України:
                    </div>
                    <div class="text text--align-center text--font-size-20 text--serif">
                        Тел./Факс: +38(044)4637795, email: srdskiev@registr.uct.ua
                    </div>
                    <div class="text text--font-size-20 text--serif">
                        Оригiнал цього свiдоцтва повинен згiдно з Правилом 1/2, пункт 11 Конвенцiї ПДНВ знаходитись
                        на суднi, доки його власник працює на цьому суднi
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>