{% extends 'crm_base.html' %}
{% block title %} Профіль {% endblock %}
{% block styles %}
    <!-- <link href="/static/css/plugins/toastr/toastr.min.css" rel="stylesheet"> -->
{% endblock %}

{% block userName %}{{ userName }}{% endblock %}
{% block userGroup %}{{ userGroup }}{% endblock %}

{% block leftMenu %}
    <li>
        <a href="/mariner/"><i class="fa fa-th-large"></i> <span class="nav-label">Головна</span> </a>
    </li>
    <li>
        <a href="/mariner/trainigDirections/"><i class="fa fa-sitemap"></i> <span class="nav-label">Напрямки Підготовки</span> </a>
    </li>
    {% if user.groups.all.0.name != 'НТЗ' %}
    <li>
        <a href="/mariner/trainigOrganisations/"><i class="fa fa-pie-chart"></i> <span class="nav-label">НТЗ</span> </a>
    </li>
    {% endif %}
    <li>
        <a href="/mariner/sailors/"><i class="fa fa-files-o"></i> <span class="nav-label">Моряки</span> </a>
    </li>
    <li>
        <a href="/mariner/certification/"><i class="fa fa-edit"></i> <span class="nav-label">Сертифiкати</span></a>
    </li>
    {% if user.groups.all.0.name == 'Адміністратор' %}
    <li>
        <a href="/mariner/regulations/"><i class="fa fa-database"></i> <span class="nav-label">Нормативнi документы</span></a>
    </li>
    {% endif %}
{% endblock %}

{% block content %}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Профіль</h2>
        <ol class="breadcrumb">
            <li>
                <a href="/mariner/">Головна</a>
            </li>
            <li class="active">
                <strong>Профіль</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>

<div class="row m-b-lg m-t-lg">
    <div class="col-md-6">
        <div class="profile-image">
            <img src="/static/img/avatar_empty.jpg" class="img-circle circle-border m-b-md" alt="profile">
        </div>
        <div class="profile-info">
            <div class="">
                <div>
                    <h2 class="no-margins">{{ user.get_full_name }}</h2>
                    <h3>{{ user.email }}</h3>
                    <h3>{{ user.profile.organization_name}}
                    <h5>{{ user.groups.all.0 }}</h4>
                    <small>авторизація: {{ user.last_login }} </small>
                </div>
            </div>
            <a href="/mariner/profile/edit/" class="btn btn-white btn-sm"><i class="fa fa-pencil"></i> Ред. </a>
        </div>

    </div>
</div>

{% if messages %}
<ul>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% if userGroup != 'НТЗ' %}
<!-- <div class="wrapper wrapper-content animated fadeInRight">
<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Персональна інформація</h5>                    
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content">
                <p>Таблиця з новими сертифікатами від НТЗ </p>
            </div>
        </div>
    </div>
</div>
</div> -->
{% endif %}
{% endblock %}

{% block scripts %}
<!-- Toastr -->
<!-- <script src="/static/js/plugins/toastr/toastr.min.js"></script>

<script>
        $(document).ready(function() {
            setTimeout(function() {
                toastr.options = {
                    closeButton: true,
                    progressBar: true,
                    showMethod: 'slideDown',
                    timeOut: 2000
                };
                toastr.success('Система реєстрації та перевірки документів моряків', 'Вітаємо у ITCS');

            }, 1300);
        });
</script> -->     
{% endblock %}
