{% extends 'crm_base.html' %}
{% load widget_tweaks %}
{% block title %} Сертифікат {% endblock %}

{% block styles %}
<link href="/static/css/plugins/datapicker/datepicker3.css" rel="stylesheet">
<link href="/static/css/plugins/jasny/jasny-bootstrap.min.css" rel="stylesheet">

<!-- Dropbox with search -->
<link href="/static/css/plugins/bootstrap-select/bootstrap-select.min.css" rel="stylesheet">

<link href="/static/css/plugins/toastr/toastr.min.css" rel="stylesheet">

{% endblock %}

{% block leftMenu %}
    <li>
        <a href="/mariner/"><i class="fa fa-th-large"></i> <span class="nav-label">Головна</span> </a>
    </li>
    <li>
        <a href="/mariner/trainigDirections/"><i class="fa fa-sitemap"></i> <span class="nav-label">Напрямки Підготовки</span> </a>
    </li>
    {% if user.groups.all.0.name != 'НТЗ' %}
    <li>
        <a href="/mariner/trainigOrganisations/"><i class="fa fa-pie-chart"></i> <span class="nav-label">НТЗ</span> </a>
    </li>
    {% endif %}
    <li>
        <a href="/mariner/sailors/"><i class="fa fa-files-o"></i> <span class="nav-label">Моряки</span> </a>
    </li>
    <li class="active">
        <a href="/mariner/certification/"><i class="fa fa-edit"></i> <span class="nav-label">Сертифiкати</span></a>
    </li>
    {% if user.groups.all.0.name == 'Адміністратор' %}
    <li>
        <a href="/mariner/regulations/"><i class="fa fa-database"></i> <span class="nav-label">Нормативнi документы</span></a>
    </li>
    {% endif %}
{% endblock %}

{% block content %}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Сертифiкати</h2>
        <ol class="breadcrumb">
            <li>
                <a href="/mariner/">Головна</a>
            </li>
            <li>
                <a href="/mariner/certification/">Сертифiкати</a>
            </li>
            <li class="active">
                <strong>Сертифiкат</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>

<p></p>


<div class="row">
	<div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Форма Сертификата для Навчально - Тренувальних Закладів <small>з настройкою напрямкiв пiдготовки.</small></h5>
            </div>
            
            <div class="ibox-content">
                <form method="post" id="certificateForm" data-directions-url="{% url 'ajax_load_directions' %}" novalidate>
                    {% csrf_token %}

                    {% for hidden_field in form.hidden_fields %}
                        {{ hidden_field }}
                    {% endfor %}

                    {% if form.non_field_errors %}
                        <div class="alert alert-danger" role="alert">
                            {% for error in form.non_field_errors %}
                                {{ error }}
                            {% endfor %}
                        </div>
                    {% endif %}


                    <div class="row">
                        <div class="col-md-4 col-md-offset-1">
                            <label class="font-normal">{{ form.first_name_en.label_tag }}</label>
                            {% if form.is_bound %}
                                    {% if form.first_name_en.errors %}
                                        <div class="form-group has-error">
                                            {% render_field form.first_name_en class="typeahead_first_name_en form-control is-invalid" %}
                                        </div>
                                        {% for error in form.first_name_en.errors %}
                                            <div class="invalid-feedback">
                                                <p class="text-warning">{{ error }}</p>
                                            </div>
                                        {% endfor %}
                                    {% else %}
                                        <div>
                                            {% render_field form.first_name_en class="typeahead_first_name_en form-control is-invalid" %}
                                        </div>
                                    {% endif %}
                                {% else %}
                                    <div>
                                        {{ form.first_name_en|add_class:"typeahead_first_name_en form-control" }}
                                    </div>
                                {% endif %}

                                {% if form.first_name_en.help_text %}
                                    <small class="form-text text-muted">{{ form.first_name_en.help_text }}</small>
                                {% endif %}
                        </div>

                        <div class="col-md-4 col-md-offset-1">
                            <label class="font-normal">{{ form.last_name_en.label_tag }}</label>
                            {% if form.is_bound %}
                                    {% if form.last_name_en.errors %}
                                        <div class="form-group has-error">
                                            {% render_field form.last_name_en class="typeahead_last_name_en form-control is-invalid" %}
                                        </div>
                                        {% for error in form.last_name_en.errors %}
                                            <div class="invalid-feedback">
                                                <p class="text-warning">{{ error }}</p>
                                            </div>
                                        {% endfor %}
                                    {% else %}
                                        <div>
                                            {% render_field form.last_name_en class="typeahead_last_name_en form-control is-valid" %}
                                        </div>
                                    {% endif %}
                                {% else %}
                                    <div>
                                        {{ form.last_name_en|add_class:"typeahead_last_name_en form-control" }}
                                    </div>
                                {% endif %}

                                {% if form.last_name_en.help_text %}
                                    <small class="form-text text-muted">{{ form.last_name_en.help_text }}</small>
                                {% endif %}
                        </div>
                    </div>

                    <div class="hr-line-dashed"></div>

                    <div class="row">
                        <div class="col-md-4">
                            <label class="font-normal">{{ form.last_name_ukr.label_tag }}</label>
                            {% if form.is_bound %}
                                    {% if form.last_name_ukr.errors %}
                                        <div class="form-group has-error">
                                            {% render_field form.last_name_ukr class="typeahead_last_name_ukr form-control is-invalid" %}
                                        </div>
                                        {% for error in form.last_name_ukr.errors %}
                                            <div class="invalid-feedback">
                                                <p class="text-warning">{{ error }}</p>
                                            </div>
                                        {% endfor %}
                                    {% else %}
                                        <div>
                                            {% render_field form.last_name_ukr class="typeahead_last_name_ukr form-control is-valid" %}
                                        </div>
                                    {% endif %}
                                {% else %}
                                    <div>
                                        {{ form.last_name_ukr|add_class:"typeahead_last_name_ukr form-control" }}
                                    </div>
                                {% endif %}

                                {% if form.last_name_ukr.help_text %}
                                    <small class="form-text text-muted">{{ form.last_name_ukr.help_text }}</small>
                                {% endif %}
                        </div>
                        <div class="col-md-4">
                            <label class="font-normal">{{ form.first_name_ukr.label_tag }}</label>
                            {% if form.is_bound %}
                                    {% if form.first_name_ukr.errors %}
                                        <div class="form-group has-error">
                                            {% render_field form.first_name_ukr class="typeahead_first_name_ukr form-control is-invalid" %}
                                        </div>
                                        {% for error in form.first_name_ukr.errors %}
                                            <div class="invalid-feedback">
                                                <p class="text-warning">{{ error }}</p>
                                            </div>
                                        {% endfor %}
                                    {% else %}
                                        <div>
                                            {% render_field form.first_name_ukr class="typeahead_first_name_ukr form-control is-valid" %}
                                        </div>
                                    {% endif %}
                                {% else %}
                                    <div>
                                        {{ form.first_name_ukr|add_class:"typeahead_first_name_ukr form-control" }}
                                    </div>
                                {% endif %}

                                {% if form.first_name_ukr.help_text %}
                                    <small class="form-text text-muted">{{ form.first_name_ukr.help_text }}</small>
                                {% endif %}
                        </div>
                        <div class="col-md-4">
                            <label class="font-normal">{{ form.second_name_ukr.label_tag }}</label>
                                {% if form.is_bound %}
                                    {% if form.second_name_ukr.errors %}
                                        <div class="form-group has-error">
                                            {% render_field form.second_name_ukr class="typeahead_second_name_ukr form-control is-invalid" %}
                                        </div>
                                        {% for error in form.second_name_ukr.errors %}
                                            <div class="invalid-feedback">
                                                <p class="text-warning">{{ error }}</p>
                                            </div>
                                        {% endfor %}
                                    {% else %}
                                        <div>
                                            {% render_field form.second_name_ukr class="typeahead_second_name_ukr form-control is-valid" %}
                                        </div>
                                    {% endif %}
                                {% else %}
                                    <div>
                                        {{ form.second_name_ukr|add_class:"typeahead_second_name_ukr form-control" }}
                                    </div>
                                {% endif %}

                                {% if form.second_name_ukr.help_text %}
                                    <small class="form-text text-muted">{{ form.second_name_ukr.help_text }}</small>
                                {% endif %}
                        </div>
                    </div>

                    <div class="hr-line-dashed"></div>

                    <div class="row">
                        <div class="col-md-4 col-md-offset-1">
                            {% if statusNum == 0 %}
                            <div class="form-group" id="data_1">
                            {% endif %}
                                <label class="font-normal">{{ form.born.label_tag }}</label>
                                {% if form.is_bound %}
                                    {% if form.born.errors %}
                                    <div class="form-group has-error">
                                        <div class="input-group date">
                                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                            {% render_field form.born class="form-control is-invalid" %}
                                        </div>
                                    </div>
                                        {% for error in form.born.errors %}
                                            <div class="invalid-feedback">
                                                <p class="text-warning">{{ error }}</p>
                                            </div>
                                        {% endfor %}
                                    {% else %}
                                        <div class="input-group date">
                                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                            {% render_field form.born class="form-control is-valid" %}
                                        </div>
                                    {% endif %}
                                {% else %}
                                    <div class="input-group date">
                                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                        {{ form.born|add_class:"form-control"}}

                                    </div>
                                {% endif %}

                                {% if form.born.help_text %}
                                    <small class="form-text text-muted">{{ form.born.help_text }}</small>
                                {% endif %}
                            {% if statusNum == 0 %}    
                            </div>
                            {% endif %}
                        </div>

                        <div class="col-md-4 col-md-offset-1">
                            <label class="font-normal">{{ form.inn.label_tag }}</label>
                                {% if form.is_bound %}
                                    {% if form.inn.errors %}
                                        <div class="form-group has-error">
                                            {% render_field form.inn class="form-control is-invalid" %}
                                        </div>
                                        {% for error in form.inn.errors %}
                                            <div class="invalid-feedback">
                                                <p class="text-warning">{{ error }}</p>
                                            </div>
                                        {% endfor %}
                                    {% else %}
                                        <div>
                                            {% render_field form.inn class="form-control is-valid" %}
                                        </div>
                                    {% endif %}
                                {% else %}
                                    <div>
                                        {{ form.inn|add_class:"form-control" }}
                                    </div>
                                {% endif %}

                                {% if form.inn.help_text %}
                                    <small class="form-text text-muted">{{ form.inn.help_text }}</small>
                                {% endif %}
                        </div>
                    </div>

                    <div class="hr-line-dashed"></div>

                    <div class="row">
                        <div class="col-md-4 col-md-offset-1">
                            {% if statusNum == 0 %}
                            <div class="form-group" id="data_1">
                            {% endif %}
                                <label class="font-normal">{{ form.date_of_issue.label_tag }}</label>
                                {% if form.is_bound %}
                                    {% if form.date_of_issue.errors %}
                                    <div class="form-group has-error">
                                        <div class="input-group date">
                                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                            {% render_field form.date_of_issue class="form-control is-invalid" %}
                                        </div>
                                    </div>
                                        {% for error in form.date_of_issue.errors %}
                                            <div class="invalid-feedback">
                                                <p class="text-warning">{{ error }}</p>
                                            </div>
                                        {% endfor %}
                                    {% else %}
                                        <div class="input-group date">
                                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                            {% render_field form.date_of_issue class="form-control is-valid" %}
                                        </div>
                                    {% endif %}
                                {% else %}
                                    <div class="input-group date">
                                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                        {{ form.date_of_issue|add_class:"form-control" }}
                                    </div>

                                {% endif %}

                                {% if form.date_of_issue.help_text %}
                                    <small class="form-text text-muted">{{ form.date_of_issue.help_text }}</small>
                                {% endif %}
                            {% if statusNum == 0 %}
                            </div>
                            {% endif %}
                        </div>
                        
                        <div class="col-md-4 col-md-offset-1">
                            {% if statusNum == 0 %}
                            <div class="form-group" id="data_1">
                            {% endif %}
                                <label class="font-normal">{{ form.valid_date.label_tag }}</label>
                                {% if form.is_bound %}
                                    {% if form.valid_date.errors %}
                                    <div class="form-group has-error">
                                        <div class="input-group date">
                                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                            {% render_field form.valid_date class="form-control is-invalid" %}
                                        </div>
                                    </div>
                                        {% for error in form.valid_date.errors %}
                                            <div class="invalid-feedback">
                                                <p class="text-warning">{{ error }}</p>
                                            </div>
                                        {% endfor %}
                                    {% else %}
                                        <div class="input-group date">
                                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                            {% render_field form.valid_date class="form-control is-valid" %}
                                        </div>
                                    {% endif %}
                                {% else %}
                                    <div class="input-group date">
                                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                        {{ form.valid_date|add_class:"form-control" }}
                                    </div>
                                {% endif %}

                                {% if form.valid_date.help_text %}
                                    <small class="form-text text-muted">{{ form.valid_date.help_text }}</small>
                                {% endif %}
                            {% if statusNum == 0 %}
                            </div>
                            {% endif %}
                        </div>
                    </div>
                    
                    <div class="hr-line-dashed"></div>

                    {% if user.groups.all.0.name != 'НТЗ' %}
                    <div class="row">
                        <div class="col-md-12">
                            <label class="font-normal">{{ form.trainigOrganisation.label_tag }}</label>
                            <div>
                                {% if statusNum == 0 %}
                                {{ form.trainigOrganisation|add_class:"selectpicker form-control"|append_attr:"data-live-search:true" }}
                                {% endif %}
                                {% if statusNum > 0 %}
                                {{ form.trainigOrganisation|add_class:"form-control" }}
                                {% endif %}
                            </div>    
                        </div>

                    </div>
                    
                    <div class="hr-line-dashed"></div>
                    {% endif %}

                    

                    <div class="row">
                        <!-- <div class="col-md-3">
                            <label class="font-normal">{{ form.direction_level.label_tag }}</label>
                            <div>
                                {{ form.direction_level|add_class:"selectpicker form-control" }}
                            </div>
                        </div>

                        <div class="col-md-3">
                            <label class="font-normal">{{ form.direction_allow_functions.label_tag }}</label>
                            <div>
                                {{ form.direction_allow_functions|add_class:"selectpicker form-control" }}
                            </div>
                        </div> -->

                        <div class="col-md-12">
                            <label class="font-normal">{{ form.training_direction.label_tag }}</label>
                            <div>
                                {% if statusNum == 0 %}
                                {{ form.training_direction|add_class:"selectpicker form-control"|append_attr:"data-live-search:true" }}
                                {% endif %}
                                {% if statusNum > 0 %}
                                {{ form.training_direction|add_class:"form-control" }}
                                {% endif %}
                            </div>    
                        </div>

                    </div>

                    <div class="hr-line-dashed"></div>

                    <div class="row">
                        <div class="col-md-3">
                            <label class="font-normal">{{ form.ntz_number.label_tag }}</label>
                            <div>
                                {{ form.ntz_number|add_class:"form-control" }}
                            </div>
                        </div>
                        <div class="col-md-3">
                            <label class="font-normal">{{ form.form_number.label_tag }}</label>
                            <div>
                                {{ form.form_number|add_class:"form-control" }}
                            </div>
                        </div>

                        {% if user.groups.all.0.name != 'НТЗ' %}
                        <div class="col-md-3">
                            <label class="font-normal">{{ form.certf_number.label_tag }}</label>
                            <div>
                                {{ form.certf_number|add_class:"form-control" }}
                            </div>
                        </div>
                        
                        {% endif %}
                        <div class="col-md-3">
                            <label class="font-normal">{{ form.status.label_tag }}</label>
                            <div>
                                {{ form.status|add_class:"selectpicker form-control" }}   
                            </div>
                        </div>
                    </div>

                    <div class="hr-line-dashed"></div>
                    
                    <div class="form-group text-center m-t-30">
                        <div class="text-center">
                            {% if user.groups.all.0.name == 'НТЗ' %}
                                {% if statusNum == 0 %}
                                    <button class="btn btn-primary " type="submit"><i class="fa fa-check"></i>&nbsp;Зберегти</button>
                                {% endif %}
                            {% else %}
                                <button class="btn btn-primary " type="submit"><i class="fa fa-check"></i>&nbsp;Зберегти</button>
                            {% endif %}
                            <a href="{% url 'crm_certification' %}"><button class="btn btn-info " type="button">Скасувати</button></a>
                        </div>
                    </div>

                </form>
            </div>
            
        </div>  
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <p></p>
                </div>
            </div>
        </div>
        <div class="col-lg-2">
        </div> 
        <p></p>    
    </div>
</div>

{% endblock %}

{% block scripts %}
<!-- Date Picker-->
<script src="/static/js/plugins/datapicker/bootstrap-datepicker.js"></script>
<!-- Input Mask-->
<script src="/static/js/plugins/jasny/jasny-bootstrap.min.js"></script>

<!-- Latest compiled and minified JavaScript -->
<script src="/static/js/plugins/bootstrap-select/bootstrap-select.min.js"></script>
<!-- (Optional) Latest compiled and minified JavaScript translation files -->
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.2/js/i18n/defaults-*.min.js"></script> -->

<!-- Typehead -->
<script src="/static/js/plugins/typehead/bootstrap3-typeahead.min.js"></script>

<script src="/static/js/plugins/toastr/toastr.min.js"></script>

<!--Custom scripts-->
<script src="/static/js/templates/validation.js"></script>

<script>
        // source: ["item 1","item 2","item 3"]
        var arrFNameEng = [];
        var arrLNameEng = [];
        var arrLNameUkr = [];
        var arrFNameUkr = [];
        var arrSNameUkr = [];
        
        {% for sailor in sailors %}
            arrFNameEng.push("{{ sailor.first_name_en }}");
            arrLNameEng.push("{{ sailor.last_name_en }}");
            arrLNameUkr.push("{{ sailor.last_name_ukr }}");
            arrFNameUkr.push("{{ sailor.first_name_ukr }}");
            arrSNameUkr.push("{{ sailor.second_name_ukr }}");
        {% endfor%}

        $(document).ready(function(){

            $('.typeahead_first_name_en').typeahead({
                source: arrFNameEng
            });
            
            $('.typeahead_last_name_en').typeahead({
                source: arrLNameEng
            });

            $('.typeahead_last_name_ukr').typeahead({
                source: arrLNameUkr
            });

            $('.typeahead_first_name_ukr').typeahead({
                source: arrFNameUkr
            });

            $('.typeahead_second_name_ukr').typeahead({
                source: arrSNameUkr
            });

            $.fn.datepicker.dates['itcsUkr'] = {
                days: ["Неділя", "Понеділок", "Вівторок", "Середа", "Четвер", "П’ятниця", "Субота"],
                daysShort: ["НД", "ПН", "ВТ", "СР", "ЧТ", "ПТ", "СБ"],
                daysMin: ["НД", "ПН", "ВТ", "СР", "ЧТ", "ПТ", "СБ"],
                months: ["Січень", "Лютий", "Березень", "Квітень", "Травень", "Червень", "Липень", "Серпень", "Вересень", "Жовтень", "Листопад", "Грудень"],
                monthsShort: ["Сiч", "Лют", "Бер", "Квіт", "Трав", "Черв", "Лип", "Серп", "Вер", "Жовт", "Лист", "Груд"],
                today: "Сьогодні",
                clear: "Очистити",
                format: "mm/dd/yyyy",
                titleFormat: "MM yyyy", /* Leverages same syntax as 'format' */
                weekStart: 0
            };

            $('#data_1 .input-group.date').datepicker({
                language: 'itcsUkr',
                todayBtn: "linked",
                keyboardNavigation: false,
                forceParse: false,
                calendarWeeks: true,
                autoclose: true,
                format: "dd.mm.yyyy"
            });

            $('.selectpicker').selectpicker();



            // $("#id_last_name_ukr").change(function () {
            //     var url = '{% url 'ajax_transliteration' %}';
            //     $.ajax({
            //         url: url,
            //         data: {
            //         'fieldData': $(this).val()
            //         },
            //         dataType: 'json',
            //         success: function (data) {
            //             $('#id_last_name_en').val(data.transliteration);
            //         }
            //     });
            // });

            // $("#id_first_name_ukr").change(function () {
            //     var url = '{% url 'ajax_transliteration' %}';
            //     $.ajax({
            //         url: url,
            //         data: {
            //         'fieldData': $(this).val()
            //         },
            //         dataType: 'json',
            //         success: function (data) {
            //             $('#id_first_name_en').val(data.transliteration);
            //         }
            //     });
            // });

            $("#id_first_name_en").change(function () {
                var url = '{% url 'ajax_check_certificate' %}';
                $.ajax({ 
                    url: url,
                    data: {
                    'fieldName': 'first_name_en',
                    'fieldData': $(this).val()
                    },
                    dataType: 'json',
                    success: function (data) {
                        if(data.error){
                            // alert(data.error_message);
                            setTimeout(function() {
                                toastr.options = {
                                // closeButton: true,
                                // progressBar: true,
                                // showMethod: 'slideDown',
                                // timeOut: 2000
                                closeButton: true,
                                debug: false,
                                newestOnTop: true,
                                progressBar: false,
                                positionClass: "toast-top-right",
                                preventDuplicates: false,
                                onclick: null,
                                showDuration: 300,
                                hideDuration: 1000,
                                timeOut: 5000,
                                extendedTimeOut: 1000,
                                showEasing: "swing",
                                hideEasing: "linear",
                                showMethod: "fadeIn",
                                hideMethod: "fadeOut"
                                };toastr.warning(data.error_message, 'Помилка у First Name');
                            }, 100);
                        }
                    }
                });
            });

            $("#id_last_name_en").change(function () {
                var url = '{% url 'ajax_check_certificate' %}';
                $.ajax({ 
                    url: url,
                    data: {
                    'fieldName': 'last_name_en',
                    'fieldData': $(this).val()
                    },
                    dataType: 'json',
                    success: function (data) {
                        if(data.error){
                            // alert(data.error_message);
                            setTimeout(function() {
                                toastr.options = {
                                // closeButton: true,
                                // progressBar: true,
                                // showMethod: 'slideDown',
                                // timeOut: 2000
                                closeButton: true,
                                debug: false,
                                newestOnTop: true,
                                progressBar: false,
                                positionClass: "toast-top-right",
                                preventDuplicates: false,
                                onclick: null,
                                showDuration: 300,
                                hideDuration: 1000,
                                timeOut: 5000,
                                extendedTimeOut: 1000,
                                showEasing: "swing",
                                hideEasing: "linear",
                                showMethod: "fadeIn",
                                hideMethod: "fadeOut"
                                };toastr.warning(data.error_message, 'Помилка у First Name');
                            }, 100);
                        }
                    }
                });
            });

            $("#id_trainigOrganisation").change(function () {
                var url = $("#certificateForm").attr("data-directions-url");
                var organisationName = $(this).val();
                $.ajax({
                    url: url,
                    data: {
                    'organisation': 'Приватне підприємство \"Ізмаїльський морський тренажерний центр \"Марін Про Сервіс\"'       // add to the GET parameters
                    },
                    dataType: 'json',
                    success: function (data) {   // `data` is the return
                    
                    // $("#id_trainingDirection").html(data);  // replace the contents with the data from the server
                    // alert(data.directions[0].direction_title);
                    }
                });

            });

        });


    
</script>
{% endblock %}
