{% extends 'crm_base.html' %}
{% block title %} Сертифiкати {% endblock %}

{% block styles %}
<link href="/static/css/plugins/dataTables/datatables.min.css" rel="stylesheet">
{% endblock %}


{% block leftMenu %}
    <li>
        <a href="/mariner/"><i class="fa fa-th-large"></i> <span class="nav-label">Головна</span> </a>
    </li>
    <li>
        <a href="/mariner/trainigDirections/"><i class="fa fa-sitemap"></i> <span class="nav-label">Напрямки Підготовки</span> </a>
    </li>
    {% if user.groups.all.0.name != 'НТЗ' %}
    <li>
        <a href="/mariner/trainigOrganisations/"><i class="fa fa-pie-chart"></i> <span class="nav-label">НТЗ</span> </a>
    </li>
    {% endif %}
    {% if user.groups.all.0.name != 'НТЗ' %}
    <li>
        <a href="/mariner/sailors/"><i class="fa fa-files-o"></i> <span class="nav-label">Моряки</span> </a>
    </li>
    {% endif %}
    <li class="active">
        <a href="/mariner/certification/"><i class="fa fa-edit"></i> <span class="nav-label">Сертифiкати</span></a>
    </li>
    {% if user.groups.all.0.name == 'Адміністратор' %}
    <li>
        <a href="/mariner/regulations/"><i class="fa fa-database"></i> <span class="nav-label">Нормативнi документы</span></a>
    </li>
    {% endif %}
{% endblock %}

{% block content %}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        {% if user.groups.all.0.name != 'НТЗ' %}
        <h2>Сертифiкати Навчально-Тренувальних Закладів</h2>
        {% else %}
        <h2>Сертифiкати Навчально-Тренувального Закладу</h2>
        {% endif %}
        <ol class="breadcrumb">
            <li>
                <a href="/mariner/">Головна</a>
            </li>
            <li class="active">
                <strong>Сертифiкати</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>

<p></p>

<div class="wrapper wrapper-content animated fadeInRight">
<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Таблиця Сертифiкатів</h5>
                <div class="ibox-tools">
                    <a href="{% url 'new_certification' %}"><button class="btn btn-w-m btn-success" type="button"><i class="fa fa-plus-square"></i> Додати </button></a>
                    {% if user.groups.all.0.name != 'НТЗ' %}
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li><a href="/mariner/trainigDirections/">напрямки пiдготовки</a>
                            </li>
                            <li><a href="/mariner/sailors/">моряки</a>
                            </li>
                            <li><a href="/mariner/certification/form1/">заява по формі №1</a>
                            </li>
                        </ul>
                    {% endif %}

                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content">    
                
                <div class="table-responsive">
                    <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                        <div class="custom-pagination custom-pagination--certificates" style="display: none;">
                            <button class="custom-pagination__btn custom-pagination__btn--first-page">
                                Перша
                            </button>
                            <button class="custom-pagination__btn custom-pagination__btn--prev">
                                &laquo;
                            </button>
                            <select name="certificates-select" class="custom-pagination__select">
                            </select>
                            <button class="custom-pagination__btn custom-pagination__btn--next">
                                &raquo;
                            </button>
                            <button class="custom-pagination__btn custom-pagination__btn--last-page">
                                Остання
                            </button>
                        </div>

                        {% if certifications.count > 0 %}
                            <div class="btn-group" id="export-type-group">
                                <!--<button class="btn btn-white" type="button">CSV</button>-->
                                <button class="btn btn-export btn-primary" type="button"
                                data-type="XLSExp">
                                    Excel
                                </button>
                                <button class="btn btn-export btn-white" type="button"
                                data-type="PdfExp">
                                    PDF
                                </button>
                                <button class="btn btn-export btn-white" type="button"
                                data-type="PrintExp">
                                    Print
                                </button>
                            </div>
                        {% endif %}
                        <div id="certificates-grid" class="dx-selection-disabled">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

{% endblock %}

{% block scripts %}
<!-- Add in any FooTable dependencies we may need -->
<!-- <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.3/moment.min.js"></script> -->
<!-- FooTable -->
<!-- <script src="/static/js/plugins/footable/footable.js"></script> -->

<script src="/static/js/plugins/dataTables/datatables.min.js"></script>

<!--Custom scripts-->
<script>
    var certifications = [];
        isNotNtz = ('{{user.groups.all.0.name}}' !== 'НТЗ') ? true : false,
        isExportable = ('{{certifications.count}}' > 0) ? true : false,
        exportRoute = '{% url 'api-exportToPrint' %}';

    let status;
    {% for certificate in certifications %}
        switch (~~'{{certificate.status}}') {
            case 0:
                status = 'Чернетка';
                break;
            case 1:
                status = 'Обробка';
                break;
            case 2:
                status = 'Видан';
                break;
            case 3:
                status = 'Анульований';
                break;
        }
        certifications.push({
            certificateId: '{{certificate.id}}',
            certificateNumber: '{{ certificate.certf_number }}',
            blankNumber: '{{ certificate.form_number }}',
            issueDate: '{{ certificate.date_of_issue|date:"m.d.Y" }}',
            validDate: '{{ certificate.valid_date|date:"m.d.Y" }}',
            certificateNumberGenerated: '{{ certificate.ntz_number }}',
            specialty: '{{ certificate.training_direction }}',
            sailorId: '{{ certificate.sailor.id }}',
            sailor: '{{ certificate.sailor }}',
            ntz: '{{ certificate.trainigOrganisation }}'.replace(/&quot;/g, `"`),
            status: status,
        });
    {% endfor%}
</script>

<script src="/static/js/templates/dev_extreme_grids/certificatesGrid.js">
</script>
<script src="/static/js/templates/dev_extreme_grids/exportGrid.js">
</script>

<!-- <script>
    $(document).ready(function() {

            $('.footable').footable();

            $('[data-page-size]').on('click', function(e){
            e.preventDefault();
            var newSize = $(this).data('pageSize');
            FooTable.get('#regulations-table').pageSize(newSize);
            });    
           

    });

</script> -->
<script>
    $(document).ready(function(){
        $('.dataTables-example').DataTable({
            pageLength: 25,
            responsive: true,
            dom: '<"html5buttons"B>lTfgitp',
            buttons: [
                { extend: 'copy'},
                {extend: 'csv'},
                {extend: 'excel', title: 'ExampleFile'},
                {extend: 'pdf', title: 'ExampleFile'},

                {extend: 'print',
                 customize: function (win){
                        $(win.document.body).addClass('white-bg');
                        $(win.document.body).css('font-size', '10px');

                        $(win.document.body).find('table')
                                .addClass('compact')
                                .css('font-size', 'inherit');
                }
                }
            ]

        });

    });

</script>
{% endblock %}
