{% extends 'crm_base.html' %}
{% block title %} Головна {% endblock %}
{% block styles %}
    <link href="/static/css/plugins/toastr/toastr.min.css" rel="stylesheet">
    <link href="/static/css/plugins/dataTables/datatables.min.css" rel="stylesheet">
{% endblock %}


{% block leftMenu %}
    <li class="active">
        <a href="/mariner/"><i class="fa fa-th-large"></i> <span class="nav-label">Головна</span> </a>
    </li>
    <li>
        <a href="/mariner/trainigDirections/"><i class="fa fa-sitemap"></i> <span class="nav-label">Напрямки Підготовки</span> </a>
    </li>
    {% if user.groups.all.0.name != 'НТЗ' %}
    <li>
        <a href="/mariner/trainigOrganisations/"><i class="fa fa-pie-chart"></i> <span class="nav-label">НТЗ</span> </a>
    </li>
    {% endif %}
    {% if user.groups.all.0.name != 'НТЗ' %}
    <li>
        <a href="/mariner/sailors/"><i class="fa fa-files-o"></i> <span class="nav-label">Моряки</span> </a>
    </li>
    {% endif %}
    <li>
        <a href="/mariner/certification/"><i class="fa fa-edit"></i> <span class="nav-label">Сертифiкати</span></a>
    </li>
    {% if user.groups.all.0.name == 'Адміністратор' %}
    <li>
        <a href="/mariner/regulations/"><i class="fa fa-database"></i> <span class="nav-label">Нормативнi документы</span></a>
    </li>
    <li>
        <a href="/mariner/users/"><i class="fa fa-files-o"></i> <span class="nav-label">Користувачі</span></a>
    </li>
    {% endif %}   
{% endblock %}

{% block content %}

<!--<div class="row wrapper border-bottom white-bg page-heading">-->
    <!--<div class="alert alert-info" role="alert">-->
        <!--<button type="button" class="close" data-dismiss="alert" aria-label="Close">-->
            <!--<span aria-hidden="true">&times;</span>-->
        <!--</button>-->
    <!--</div>-->
<!--</div>-->

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10"><h2>
        {% if user.groups.all.0.name != 'НТЗ' %}
            Головна сторінка
        {% else %}
            {{ user.profile.organization_name}}
        {% endif %}</h2>
        <ol class="breadcrumb">
            <li class="active">
                <strong>Головна</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>


<div class="wrapper wrapper-content animated bounceIn">
<div class = "row">

<div class="col-lg-4">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <a href="/mariner/trainigDirections/"><h5>Напрямки Підготовки</h5></a>
        </div>
        <div class="ibox-content">
            <h3> {{ trainigDirectionsCount }} - Кількість Напрямків</h3>
            <!-- <div class="stat-percent font-bold text-success">
                98% <i class="fa fa-bolt"></i>
            </div> -->
        </div>
    </div>
</div>

{% if user.groups.all.0.name != 'НТЗ' %}
<div class="col-lg-4">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <!-- <span class="label label-success pull-right">Monthly</span> -->
            <a href="/mariner/trainigOrganisations/"><h5>НТЗ</h5></a>
        </div>
        <div class="ibox-content">
            <h3> {{ trainigOrganisations.count }} - Кількість НТЗ</h3>
            <!-- <div class="stat-percent font-bold text-success">
                98% <i class="fa fa-bolt"></i>
            </div> -->
        </div>
    </div>
</div>
{% endif %}

<!--<div class="col-lg-3">-->
    <!--<div class="ibox float-e-margins">-->
        <!--<div class="ibox-title">-->
            <!--&lt;!&ndash; <span class="label label-success pull-right">Monthly</span> &ndash;&gt;-->
            <!--<a href="/mariner/sailors/"><h5>Моряки</h5></a>-->
        <!--</div>-->
        <!--<div class="ibox-content">-->
            <!--<h1 class="no-margins"> {{ sailorsCount }} </h1>-->
            <!--&lt;!&ndash; <div class="stat-percent font-bold text-success">-->
                <!--98% <i class="fa fa-bolt"></i>-->
            <!--</div> &ndash;&gt;-->
            <!--<small>Загальна Кількість Моряків</small>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->

<div class="col-lg-4">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <!-- <span class="label label-success pull-right">Monthly</span> -->
            <a href="/mariner/certification/"><h5>Сертифікати</h5></a>
        </div>
        <div class="ibox-content">
            <h3>{{ certsInReviewCount }} - сертіфікатів в обробці, </h3>
            {% if user.groups.all.0.name == 'НТЗ' %}
                <h3>{{ certsInDraftCount }} - чернеток,</h3>
            {% endif %}
            <!-- <div class="stat-percent font-bold text-success">
                98% <i class="fa fa-bolt"></i>
            </div> -->
            <h3>{{ certCount }} - виданих</h3>
            
        </div>
    </div>
</div>

</div>
</div>

{% if user.groups.all.0.name != 'НТЗ' %}

<div class="wrapper wrapper-content animated fadeInRight">
<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Сертифікати на підтвердження</h5>                    
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content">
                <div class="custom-pagination custom-pagination--certificates-home" style="display: none;">
                    <button class="custom-pagination__btn custom-pagination__btn--first-page">
                        Перша
                    </button>
                    <button class="custom-pagination__btn custom-pagination__btn--prev">
                        &laquo;
                    </button>
                    <select name="certificates-select" class="custom-pagination__select">
                    </select>
                    <button class="custom-pagination__btn custom-pagination__btn--next">
                        &raquo;
                    </button>
                    <button class="custom-pagination__btn custom-pagination__btn--last-page">
                        Остання
                    </button>
                </div>
                <div id="certificates-home-grid">
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{% endif %}

{% endblock %}

{% block scripts %}
<!-- Toastr -->
<script src="/static/js/plugins/toastr/toastr.min.js"></script>
<script src="/static/js/plugins/dataTables/datatables.min.js"></script>

<!--Custom scripts-->
<script src="/static/js/templates/dev_extreme_grids/certificatesHomeGrid.js"></script>

<script>
    // var trainigOrganisations = '{{ trainigOrganisations|safe }}';
    var trainigOrganisations = [];

    {% for organisation in trainigOrganisations %}
        trainigOrganisations.push({
            ntz: '{{ organisation.organisation_name }}'.replace(/&quot;/g, `"`),
            certificatesAmount:'{{ organisation.get_certInReview.count }}'
        });
    {% endfor%}
</script>


<script>
        $(document).ready(function() {

            $('.dataTables-example').DataTable({
                pageLength: 25,
                responsive: true,
                dom: '<"html5buttons"B>lTfgitp',
                buttons: [
                    {extend: 'print',
                     customize: function (win){
                            $(win.document.body).addClass('white-bg');
                            $(win.document.body).css('font-size', '10px');

                            $(win.document.body).find('table')
                                    .addClass('compact')
                                    .css('font-size', 'inherit');
                    }
                    }
                ]

            });
        });
</script>     
{% endblock %}
