/* -------General------- */
.bootstrap-select .dropdown-menu {
  max-width: 100%;
}
.bootstrap-select .dropdown-menu a[role="option"]{
  overflow-x: hidden;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

input[type="file"] {
  height: 32px;
  padding-top: 0px;
  padding-bottom: 0px;
}
  input[type="file"]::-webkit-file-upload-button {
    height: 32px;
    border: none;
    background: #1c84c6;
    color: white;
  }

@-moz-document url-prefix() {
  input[type="file"] {
    height: 32px;
    padding-top: 0px;
    padding-bottom: 32px;
  }
}
/* -----End General----- */

.c-row.c-row--flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.c-row.c-row--space-between {
  justify-content: space-between;
}

.center-vertical {
  vertical-align: middle!important;
}

/* --------CERTIFICATE TEMPLATE-------- */
.c-container-a6 {
  width: 1240px;
  height: 1748px;
  padding: 25px 35px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-content: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.c-container-a6__row {
  width: 100%;
}
  .c-container-a6__row.c-container-a6__row--flex {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
  .c-container-a6__row.c-container-a6__row--margin-top-70 {
    margin-top: 70px;
  }
  .c-container-a6__row.c-container-a6__row--margin-top-10 {
    margin-top: 10px;
  }

.c-container-a6__row-block {
  flex: 1;
}
  .c-container-a6__row-block.c-container-a6__row-block--30pc {
    flex: 0 1 auto;
    width: 25%;
  }
  .c-container-a6__row-block.c-container-a6__row-block--padding-left-15 {
    padding-left: 15px;
  }

.img {
  display: inline-block;
  font-size: 0px;
}
  .img.img--logo {
    width: 100%;
    height: auto;
  }

.title {
  font-family: sans-serif;
  text-align: center;
  font-size: 55px;
  font-weight: 700;
}
  .title.title--red {
    color: red;
  }

.c-text {
  font-family: sans-serif;
  font-size: 26px;
}
  .c-text.c-text--align-center {
    text-align: center;
  }
  .c-text.c-text--serif {
    font-family: serif;
  }
  .c-text.c-text--font-size-35 {
    font-size: 35px;
  }
  .c-text.c-text--font-size-20 {
    font-size: 20px;
  }
  .c-text.c-text--uppercase {
    text-transform: uppercase;
  }
  .c-text.c-text--uppercase {
    text-transform: uppercase;
  }
  .c-text.c-text--margin-top-35 {
    margin-top: 35px;
  }
  .c-text.c-text--margin-top-50 {
    margin-top: 50px;
  }
  .c-text.c-text--font-weight-700 {
    font-weight: 700;
  }
  .c-text.c-text--margin-top-10 {
    margin-top: 10px;
  }
  .c-text.c-text--margin-left-70 {
    margin-left: 70px;
  }
  .c-text.c-text--margin-left-54 {
    margin-left: 54px;
  }
  .c-text.c-text--margin-left-72 {
    margin-left: 72px;
  }

.c-container-a6__head {
  width: 100%;
}

.c-container-a6__footer {
  width: 100%;
  margin-top: auto;
}
/* ------CERTIFICATE TEMPLATE END------ */